{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add-expenses' %}">
                  <span data-feather="home"></span>
                  Add Expenses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my-expenses' %}">
                  <span data-feather="file"></span>
                  Expenses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'stats' %}">
                  <span data-feather="shopping-cart"></span>
                  Expenses Summary
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="mailto:noreply@outofourpockets.ca">
                  <span data-feather="users"></span>
                  Feedback
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">
                  <span data-feather="users"></span>
                  Account
                </a>
              </li>
            </ul>
          </div>
        </nav>
