{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'my-expenses' %}">Expenses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
    </nav>
   <div class="col d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'add-expenses' %}" method="post">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount:(<small>example: 10.00</small>)</label>
                    <input
                            type="number"
                            class="form-control form-control-sm currency"
                            name="amount"
                            id="amountField"
                            value="{{ values.amount|floatformat:2 }}"
                            step="0.01"
                            min="1"
                    />
                </div>
                <div class="invalid-feedback amount_feedback" style="display:none"></div>
                <div class="form-group  mt-3">
                    <label for="">Expense Category:(see category definitions)</label>
                    <select name="category" class="form-control form-control-sm">
                        <option value="" selected disabled>Please select</option>
                        {% for category in categories %}
                            <option name="category" value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="popup" onclick="myFunction()"><span><b><i><small>Category Definitions</small></i></b></span>
                      <span class="popuptext" id="myPopup">
                          &nbsp;&nbsp;<b>COVID related</b>: Cleaning supplies, PPE<br>
                          &nbsp;&nbsp;<b>Extra curricular material</b>: Athletic equipment; Musical instruments / &nbsp;&nbsp;supplies; Materials for clubs and student groups<br>
                          &nbsp;&nbsp;<b>Financial support for students</b>: Bus fares; Clothing; Food; Cash; Hygiene &nbsp;&nbsp;products<br>
                          &nbsp;&nbsp;<b>Student learning materials</b>: Classroom consumables: pens, pencils, &nbsp;&nbsp;notebooks, art supplies, etc.; Library resources; Textbooks<br>
                          &nbsp;&nbsp;<b>Teaching materials</b>: Curriculum / teaching; Inclusive and adaptive; &nbsp;&nbsp;enrichment: computers, printers & supplies, software, online resources, etc.<br>
                      </span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="">Date of Expense</label>
                    <input type="date"
                           name="expense_date"
                           id="today"
                           class="form-control form-control-sm">
                </div>
                <div class="invalid-feedback date_feedback" style="display:none"></div>
{#                <div class="form-group mt-3">#}
{#                    <input type="checkbox" id="inkind" name="inkind" value="true">#}
{#                    <label for="inkind">In-kind(Donated goods or services)</label><br>#}
{#                </div>#}
                <div class="form-group  mt-3">
                    <label for="">Description(Optional)</label>
                    <textarea type="text"
                              class="form-control form-control-sm"
                              name="description"
                              placeholder="150 characters or fewer"
                              id="descriptionField"
                              value="{{ values.description }}">
                    </textarea>
                </div>
                <div class="invalid-feedback description_feedback" style="display:none"></div>
                <div class="col mt-3 text-center">
                    <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm submit-btn">
                </div>
            </form>
        </div>
    </div>
</div>
</div>

    <style>
    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 500px;
      background-color: lightslategrey;
      color: #fff;
      text-align: left;
      border-radius: 6px;
      padding: 2px 0;
      position: absolute;
      position: absolute;
      z-index: 101;
      bottom: 125%;
      left: 50%;
      margin-left: -20vw;
    }

    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: lightslategrey transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }
    </style>
    <script src="{% static 'js/expense.js' %}"></script>
    <script>
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
      }
    </script>
{% endblock %}
