{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
 <div class="row">
     <div class="col-md-4"></div>

     <div class="col-md-4">
         <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                     <h4>Account Register</h4>
                    </div>
              <form action="{% url 'registernew' %}" method="post" class='form-horizontal'>
                  {% csrf_token %}
                  {% include 'partials/_messages.html' %}

                 <div class="form-group">
                         <input
                                 type="text"
                                 name="firstname"
                                 placeholder="First Name"
                                 id="firstnameField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.firstname }}"
                         />
                 </div>
                  <div class="firstname_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group py-3">
                     <input
                             type="text"
                             name="lastname"
                             placeholder="Last Name"
                             id="lastnameField"
                             class="form-control form-control-sm margin-bottom"
                             value="{{ fieldValues.lastname }}"
                     />
                 </div>
                  <div class="lastname_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group">
                      <div data-tip="Why this field is needed?">
                         <input
                                 type="text"
                                 name="birth"
                                 placeholder="Birth Year"
                                 id="birthField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.birth }}"
                         />
                      </div>
                 </div>
                   <div class="birth_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group py-3">
                       <div data-tip="Why this field is needed?">
                         <input
                                 type="text"
                                 name="year"
                                 placeholder="Years Experience"
                                 id="yearField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.year }}"
                         />
                       </div>
                 </div>
                  <div class="year_feedback invalid-feedback" style="display:none"></div>
                 <div class="form-group">
{#                     <input#}
{#                             type="text"#}
{#                             name="school"#}
{#                             placeholder="School/Facility Name"#}
{#                             id="schoolField"#}
{#                             class="form-control form-control-sm margin-bottom"#}
{#                             value="{{ fieldValues.school }}"#}
{#                     />#}
                     <label for="">School/Facility Name:</label>
                     <select name="school">
                        {% for school in schools %}
                            <option name="school" value="{{ school.name }}">{{ school.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
                   <div class="school_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group py-3">
                       <div data-tip="Why this field is needed?">
                         <input
                                 type="text"
                                 name="postal"
                                 placeholder="School Postal Code"
                                 id="postalField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.postal }}"
                         />
                       </div>
                 </div>
                  <div class="postal_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group">
{#                     <input#}
{#                             type="text"#}
{#                             name="level"#}
{#                             placeholder="School Level"#}
{#                             id="levelField"#}
{#                             class="form-control form-control-sm margin-bottom"#}
{#                             value="{{ fieldValues.level }}"#}
{#                     />#}
                      <label for="">School Level:</label>
                     <select name="level">
                        {% for level in levels %}
                            <option name="level" value="{{ level.name }}">{{ schoollevel.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
                 <div class="form-group py-3">
                     <input
                             type="text"
                             name="username"
                             placeholder="Username"
                             id="usernameField"
                             class="form-control form-control-sm"
                             value="{{ fieldValues.username }}"
                     />
                 </div>
                  <div class="invalid_feedback invalid-feedback" style="display:none"></div>
                 <div class="form-group">
                     <input
                             type="email"
                             name="email"
                             placeholder="Email"
                             id="emailField"
                             class="form-control form-control-sm margin-bottom"
                             value="{{ fieldValues.email }}"
                     />
                 </div>
                  <div class="invalid-feedback emailFeedBackArea" style="display:none"></div>
                 <div class="form-group py-3">
                     <input
                             type="password"
                             name="password"
                             placeholder="Password"
                             id="passwordField"
                             class="form-control form-control-sm margin-bottom"
                     />
                     <small class="float-right showPasswordToggle" style="float:right">SHOW</small>
                 </div>
                  <div class="col mt-4 text-center">
                      <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn" >
                  </div>
             </form>
             <div class="container" >
             <sapn class="text-lead lead" style="font-size: small">Already have an account?&nbsp;</sapn><a href="{% url 'loginnew' %}">Login</a><br>
             <sapn class="text-lead lead" style="font-size: small">Forgot password?&nbsp;</sapn><a href="{% url 'request-password' %}">Reset it</a>
             </div>
         </div>
     </div>
     <div class="col-md-4"></div>
 </div>
 </div>
    <style>
        [data-tip] {
            position:relative;
        }
        [data-tip]:before {
            content:'';
            /* hides the tooltip when not hovered */
            display:none;
            content:'';
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid ghostwhite;
            position:absolute;
            top:30px;
            left:35px;
            z-index:8;
            font-size:0;
            line-height:0;
            width:0;
            height:0;
        }
        [data-tip]:after {
            display:none;
            content:attr(data-tip);
            position:absolute;
            top:35px;
            left:0px;
            padding:5px 8px;
            background:ghostwhite;
            color:black;
            z-index:9;
            font-size: 0.75em;
            height:30px;
            line-height:18px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            white-space:nowrap;
            word-wrap:normal;
        }
        [data-tip]:hover:before,
        [data-tip]:hover:after {
            display:block;
        }
    </style>
 <script src="{% static 'js/register.js' %}"></script>
{% endblock %}