{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
 <div class="row">
     <div class="col-md-4"></div>

     <div class="col-md-4">
         <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                     <h4>Account Register</h4>
                    </div>
              <form action="{% url 'registernew' %}" method="post" class='form-horizontal' onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Consent Form'); return false; }">
                  {% csrf_token %}
                  {% include 'partials/_messages.html' %}

                 <div class="form-group">
                         <input
                                 type="text"
                                 name="firstname"
                                 placeholder="First Name"
                                 id="firstnameField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.firstname }}"
                         />
                 </div>
                  <div class="firstname_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group py-3">
                     <input
                             type="text"
                             name="lastname"
                             placeholder="Last Name"
                             id="lastnameField"
                             class="form-control form-control-sm margin-bottom"
                             value="{{ fieldValues.lastname }}"
                     />
                 </div>
                  <div class="lastname_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group">
                         <input
                                 type="text"
                                 name="birth"
                                 placeholder="Birth Year"
                                 id="birthField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.birth }}"
                         />
                 </div>
                 <div class="popuphint" onclick="myFunction()"><span><b><i><small>Why this field needed?</small></i></b></span>
                      <span class="popuptext" id="myPopup" style="padding-bottom: 1px">
                          <p style="margin-left:1em; margin-top: 1em">
                          We collect this information so that we can determine whether our sample of educators is similar
                          to the provincial population of educators, as well as to look at how age interacts with spending.
                          </p>
                      </span>
                 </div>
                   <div class="birth_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group pt-2">
                         <input
                                 type="text"
                                 name="year"
                                 placeholder="Total Years of Teaching Experience"
                                 id="yearField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.year }}"
                         />
                 </div>
                  <div class="popuphint" onclick="popup1()"><span><b><i><small>Why this field needed?</small></i></b></span>
                      <span class="popuptext" id="popup1">
                          <p style="margin-left:1em; margin-top: 1em">
                          We collect this information so that we can determine whether our sample of educators is similar
                          to the provincial population of educators, as well as to look at how teaching experience interacts
                              with spending.
                          </p>
                      </span>
                 </div>
                  <div class="year_feedback invalid-feedback" style="display:none"></div>
                 <div class="form-group pt-2">
                     <label for="">School board / primary work location:</label>
                     <select name="school" class="form-control form-control-sm">
                        <option value="" selected disabled>Please select</option>
                        {% for school in schools %}
                            <option name="school" value="{{ school.name }}">{{ school.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
                 <div class="popuphint" onclick="popup2()"><span><b><i><small>Why this field needed?</small></i></b></span>
                      <span class="popuptext" id="popup2">
                          <p style="margin-left:1em; margin-top: 1em">
                          We collect this information so that we can look at educator spending provincially and by school district.
                          </p>
                      </span>
                 </div>
                  <div class="form-group pt-2">
                       <div data-tip="Why this field is needed?">
                         <input
                                 type="text"
                                 name="postal"
                                 placeholder="School Postal Code"
                                 id="postalField"
                                 class="form-control form-control-sm margin-bottom"
                                 value="{{ fieldValues.postal }}"
                         />
                       </div>
                 </div>
                  <div class="popuphint" onclick="popup3()"><span><b><i><small>Why this field needed?</small></i></b></span>
                      <span class="popuptext" id="popup3">
                          <p style="margin-left:1em; margin-top: 1em">
                          We collect this information so that we can look at spending by neighbourhood characteristics while also maintaining school confidentiality.
                          </p>
                      </span>
                 </div>
                  <div class="postal_feedback invalid-feedback" style="display:none"></div>
                  <div class="form-group pt-2">
                      <label for="">School Level:</label>
                     <select name="level" class="form-control form-control-sm">
                        <option value="" selected disabled>Please select</option>
                        {% for level in levels %}
                            <option name="level" value="{{ level.name }}">{{ level.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
                 <div class="form-group py-3">
                     <input
                             type="text"
                             name="username"
                             placeholder="Username"
                             id="usernameField"
                             class="form-control form-control-sm"
                             value="{{ fieldValues.username }}"
                     />
                 </div>
                  <div class="invalid_feedback invalid-feedback" style="display:none"></div>
                 <div class="form-group">
                     <input
                             type="email"
                             name="email"
                             placeholder="Email"
                             id="emailField"
                             class="form-control form-control-sm margin-bottom"
                             value="{{ fieldValues.email }}"
                     />
                 </div>
                  <div class="invalid-feedback emailFeedBackArea" style="display:none"></div>
                 <div class="form-group py-3">
                     <input
                             type="password"
                             name="password"
                             placeholder="Password"
                             id="passwordField"
                             class="form-control form-control-sm margin-bottom"
                     />
                     <small class="float-right showPasswordToggle" style="float:right">SHOW</small>
                 </div>
                  <input type="checkbox" name="checkbox" value="check" id="agree" />I have read and agree to the<a class="button" href="#popup1"><i>Consent Form</i></a>
                 <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Consent Form</h2>
                        <div class="content">
                            <p>
                            Thank you for responding to our invitation to participate in a research project intended to
                                document the extent to which educators spend their own money to support students, families,
                                and colleagues in their schools and classrooms. The research consists of a database where
                                participants can keep a log of their personal spending over time. You are being asked to
                                enter your spending and identify the category of item you are purchasing, to help us
                                understand how much of their own money educators are spending and what type of items
                                they purchase most (each expense can also be marked as in-kind). You are under no
                                obligation to participate and are free to withdraw at any time without prejudice to
                                pre-existing entitlements by simply not entering any data in the database. Further, you
                                can delete your account and all submitted data through your user profile at any time.
                                There are no perceived risks regarding participation in this research. Potential benefits
                                include access to a complete copy of your spending data entered as part of this project.
                                Note that because we do not gather or verify receipts, this data is for informational purposes
                                only.<br><br>The results of this research will not be commercialized, and there are no real,
                                potential or perceived conflicts of interest on the part of the researchers (Dan Laitsch
                                and John Malcolmson), their institutions (SFU and the Institute for Public Education/BC),
                                or the research sponsor (the Institute for Public Education/BC). Your participation in
                                this project is anonymous—no personally identifiable information will be available to
                                the researchers, and such data will only be stored on the project server in password
                                protected encrypted files. Data will be analyzed and reported in the aggregate to avoid
                                inadvertently identifying anyone through the use of demographic data. Results the research
                                will be shared in research articles, policy papers, conferences, presentations, and other
                                scholarly products.<br><br>To demonstrate your consent to participate in this study, please
                                proceed to the registration page by clicking the “I consent" button below. Remember that
                                you are under no obligation to participate in this project and are free to withdraw at
                                any time. Thank you for your consideration.
                            </p>
                            <a class="close" href="#"><button type="button" class="btn btn-primary">I CONSENT</button></a>
                        </div>
                    </div>
                </div>
                  <div class="col mt-4 text-center">
                      <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn" >
                  </div>
             </form>
             <div class="container" >
             <span class="text-lead lead" style="font-size: small">Already have an account?&nbsp;</span><a href="{% url 'loginnew' %}">Login</a><br>
             <span class="text-lead lead" style="font-size: small">Forgot password?&nbsp;</span><a href="{% url 'request-password' %}">Reset it</a>
             </div>
         </div>
     </div>
     <div class="col-md-4"></div>
 </div>
 </div>
    <style>
        .button {
          font-size: 1em;
          padding: 10px;
          color: cornflowerblue;
          {#border: 2px solid #06D85F;#}
          {#border-radius: 20px/50px;#}
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-out;
        }
        .button:hover {
          color: blue;
        }

        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          transition: opacity 500ms;
          visibility: hidden;
          opacity: 0;
        }
        .overlay:target {
          visibility: visible;
          opacity: 1;
        }

        .popup {
          margin: 70px auto;
          padding: 20px;
          background: #fff;
          border-radius: 5px;
          width: 90%;
          position: relative;
          transition: all 5s ease-in-out;
        }

        .popup h2 {
          margin-top: 0;
          color: #333;
          font-family: Tahoma, Arial, sans-serif;
          text-align: center;
        }
        .popup .close {
          transition: all 200ms;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          color: #333;
        }
        .popup .close:hover {
          color: blue;
        }
        .popup .content {
          max-height: 50%;
          overflow: auto;
        }

        @media screen and (max-width: 700px){
          .popup{
            width: 90%;
          }
        }

     /* Popup container - can be anything you want */
    .popuphint {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
        /* The actual popup */
    .popuphint .popuptext {
      visibility: hidden;
      width: 400px;
      background-color: lightslategrey;
      color: #fff;
      text-align: left;
      border-radius: 6px;
      position: absolute;
      position: absolute;
      z-index: 101;
      bottom: 125%;
      left: 0%;
    }

    /* Popup arrow */
    .popuphint .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: lightslategrey transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popuphint .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }
    </style>
 <script src="{% static 'js/register.js' %}"></script>
{% endblock %}