{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
 <div class="row">
     <div class="col-md-4"></div>

     <div class="col-md-4">
         <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                     <h4>Please enter your email to get reset link</h4>
                    </div>
              <form action="{% url 'request-password' %}" method="post" class='form-horizontal'>
                  {% csrf_token %}
                  {% include 'partials/_messages.html' %}
                 <div class="form-group py-3">
                     <input
                             type="email"
                             name="email"
                             placeholder="Email"
                             id="emailField"
                             class="form-control form-control-sm margin-bottom"
                             value="{{ fieldValues.email }}"
                     />
                 </div>
                  <div class="col text-center">
                      <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" >
                  </div>
             </form>
             <div class="container" >
             <sapn class="text-lead lead" style="font-size: small">Already have an account?&nbsp;</sapn><a href="{% url 'loginnew' %}">Login</a><br>
             <sapn class="text-lead lead" style="font-size: small">Don't have an account?&nbsp;</sapn><a href="{% url 'registernew' %}">Signup</a>
             </div>
         </div>
     </div>
     <div class="col-md-4"></div>
 </div>
 </div>
 <script src="{% static 'js/register.js' %}"></script>
{% endblock %}